[submodule "backend"]
	path = backend
	url = https://github.com/CheckiePy/ChekiePyBackend.git
	branch = master
[submodule "frontend"]
	path = frontend
	url = https://github.com/CheckiePy/ChekiePyFrontend.git
	branch = master
