[submodule "backend"]
	path = backend
	url = https://github.com/CheckiePy/CheckiePyBackend.git
	branch = master
[submodule "frontend"]
	path = frontend
	url = https://github.com/CheckiePy/CheckiePyFrontend.git
	branch = master
