[submodule "acsbackend"]
	path = acsbackend
	url = https://github.com/acsproj/acsbackend.git
	branch = CheckiePy
[submodule "frontend"]
	path = frontend
	url = https://github.com/acsproj/acsfrontend.git
	branch = CheckiePy
